# Configuration file

durability {
    # [1 ~ 2147483647]
    I:serenadeOfHealth=7
}


speed {
    # Длительность плавления в Демонической печи (чем меньше, тем быстрее) [1 ~ 2147483647]
    I:demonFurnaceDuration=100
}


