# Configuration file

block {

    spawner {
        D:hardness=10.0

        # [0 ~ 2147483647]
        I:harvestLevel=2
        B:mobRotation=true
    }

}


other {
    # Включить улучшение Dig Speed
    B:enableDigSpeedUpgrade=true

    # Максимальный радиус разрушения киркой [0 ~ 2147483647]
    I:pickaxeMaxRange=11

    # Максимальный радиус разрушения посохом [0 ~ 2147483647]
    I:staffMaxRange=11

    # Синхронизировать AoE-разрушение блоков с клиентом
    B:updateGhostBlocks=true
}


