# Configuration file

general {
    # Enable debug logging
    B:debug=true
    S:defaultCooldownMessage=137Please wait %s seconds

    # hasPermission result for undefined cases
    B:defaultPermissionValue=true

    # Allow explosions
    B:explosions=true

    # Post event before lightning bolt spawn
    B:spawnLightningBoltEvent=true
}


multiblocks {
    S:blocks <
     >
}


translocation {
    # Allow multiblock translocation (may cause to dupe)
    B:allowMultiBlocks=false
    S:deniedMessage=This can't be translocated
    S:restrictedBlocks <
     >
}


