# Configuration file

debug {
    # Команда /nbtprofile, позволяющая узнать объём NBT предмета в руке
    B:nbtProfileCommand=false
}


other {
    # Включить защиту от переполнения стека в контейнерах
    B:fixContainerStackOverflow=true
}


performance {

    nbt {
        B:compactGenome=true
        B:eliminateIsAnalyzedTag=true
    }

}


