# Configuration file

general {
    # Пустая жидкостная канистра не имеет containerItem (фикс дюпа с рецептами GalaxySpace)
    B:emptyLiquidCanisterWithoutContainerItem=true
}


machine {

    oxygen_compressor {
        # [1 ~ 2147483647]
        I:capacity=1200

        # [1 ~ 2147483647]
        I:in=16

        # default=2 [1 ~ 2147483647]
        I:out=10
    }

    refinery {
        # [1 ~ 2147483647]
        I:capacity=24000

        # default=1 [1 ~ 2147483647]
        I:out=10

        # [1 ~ 2147483647]
        I:processTime=2
    }

    circuit_fabricator {
        # default=false
        B:omniDirectional=true

        # default=300 [1 ~ 2147483647]
        I:processTime=30
    }

    electric_compressor {
        # default=false
        B:omniDirectional=true

        # default=200 [1 ~ 2147483647]
        I:processTime=20
    }

}


