# Configuration file

modes {
    # Включить режим Улучшенного алмазного бура "Большие дыры"
    B:advDDrillBigHole=true

    # Включить режим Гравитационного инструмента "Гаечный ключ"
    B:graviToolWrench=true
}


