# Configuration file

container_groups {
    S:bags <
        com.emoniph.witchery.item.ItemBrewBag.ContainerBrewBag
        com.rwtema.extrautils.gui.ContainerHoldingBag
        witchinggadgets.common.gui.ContainerBag
     >
}


content_restriction_rules {

    nested_bags_restriction {
        S:container_groups <
            bags
         >
        S:item_groups <
            bags
         >
    }

}


item_groups {
    S:bags <
        witchery:brewbag
        ExtraUtilities:golden_bag
        WitchingGadgets:item.WG_Bag
     >
}


