# Configuration file

general {
    # Get dev item
    B:dev=false
}


lolilanddimension {
    # The Sunny Plains Dimension ID
    I:dim2ID=4

    # The Moon Plains Dimension ID
    I:dimID=3

    # The Moon Plains Biome ID
    I:moonPlainsBiomeId=251

    # The Spectral Forest Biome ID
    I:spectralForestBiomeId=252

    # The Sunny Forest Biome ID
    I:sunnyForestBiomeId=254

    # The Sunny Plains Biome ID
    I:sunnyPlainsBiomeId=253

    # The height of the LoliLand Dimension
    I:worldHeight=90
}


